[submodule ".oh-my-zsh-custom"]
	path = .oh-my-zsh-custom
	url = https://github.com/homeofficehost/.oh-my-zsh-custom.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/homeofficehost/.vim.git
