file:///home/{{ username }}/dev
file:///home/{{ username }}/blog
file:///home/{{ username }}/docs
file:///home/{{ username }}/pro
file:///home/{{ username }}/pi
file:///mnt/truenas
smb://studio-pc.home-network.io/footage/ footage
