#!/bin/bash
set -e

ANSIBLEUSER="velociraptor"
BRANCH="{{ branch | default('master') }}"
LOGFILE="/var/log/ansible.log"
REPO="{{ upstream | default('https://github.com/homeofficehost/dotfiles') }}"
COMMON_OPTS="--vault-password-file ~/.vault_key --url $REPO --limit $(cat /etc/hostname).local --checkout $BRANCH"

PRECMD="sudo systemd-inhibit --who='ansible-pull' --why='provisioning'"

# check if ansible-pull is already running, and if not, run it
if systemctl is-active ansible-pull; then
    printf "\n$(date +"%Y-%m-%d %H:%M:%S") A running ansible-pull process was found.\nExiting.\n" | tee -a "$LOGFILE"
    exit 1
else
    if [[ ! -z "$1" ]]; then
        $PRECMD sudo -H --user "$ANSIBLEUSER" ansible-pull --tags "$1" $COMMON_OPTS 2>&1
    else
        $PRECMD sudo -H --user "$ANSIBLEUSER" ansible-pull --only-if-changed $COMMON_OPTS 2>&1
    fi
fi